.day-item {
  padding: 18px 0;

  &__grow {
    padding-left: 37px;
    padding-right: 8px;

    span {
      width: 30px;
      height: 30px;
    }
  }

  &__name {
    padding: 0 8px;
    width: 24%;
  }

  &__organization {
    padding: 0 8px;
    width: 18%;
  }

  &__description {
    padding: 0 8px;
    width: 25%;
  }

  &__balance {
    font-size: 18px;
    padding-left: 8px;
    padding-right: 16px;
  }
}